# Ignore configuration files that may contain sensitive information.
#sites/*/settings*.php
#sites/*/database*.php
# Ignore paths that contain user-generated content.
docroot/sites/*/files
docroot/sites/*/private
